.footer-area{
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: rgb(31, 26, 26);
    map{
        max-width: 400px;
    }
    .time_ardess{
        max-width: 400px;
    }
    .contacts{
        max-width: 400px;
        color: white;
    }
}
