/* :: 8.0 Hero CSS */
.Welcome-area{
    height: 100vh;
    .welcome-content{
        padding-top: 90px;
        background-image: url(../img/bg/welcome-bg1.jpg);
        background-size: auto;
        background-position: 70%;
        background-repeat: no-repeat;
    
            position: relative;
            z-index: 2;
        
            h2 {
                font-size: 72px;
                display: block;
                margin-bottom: 30px;
                color: rgb(27, 23, 23);
        
                @media #{$breakpoint-lg} {
                    font-size: 60px;
                }
                
                @media #{$breakpoint-md} {
                    font-size: 60px;
                }
                
                @media #{$breakpoint-xs} {
                    font-size: 36px;
                }
            }
        
            p {
                font-size: 18px;
                color: rgba(24, 20, 20, 0.808);
                margin-bottom: 50px;
                display: block;
            }
            ul li{
                margin: 0px;
            }
    }
}


