.suggestions{
    padding: 0px 0px 30px 0px;
    img{
        border-radius: 10px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.425);
        @media #{$breakpoint-xs} {
            margin-bottom:5px;
        }
    }
}